<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.makeevapps.simpletodolist">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.EditTaskActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.activity.SnoozeActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/TransparentTheme"/>
        <activity
            android:name=".ui.activity.DateTimeChooserActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/TransparentTheme"/>
        <activity android:name=".ui.activity.SettingsActivity"/>
        <activity android:name=".ui.activity.AboutActivity"/>
        <!-- Services -->
        <service
            android:name=".services.CleanupJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <!-- Receiver -->
        <receiver
            android:name=".reminders.ReminderReceiver"
            android:exported="false"
            android:process=":remote"/>
        <receiver
            android:name=".receiver.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.SNOOZE_NOTIFICATION"/>
                <action android:name="${applicationId}.DONE_NOTIFICATION"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f152c4fd189e2f82c7a154e39585c2694e2b30fc"/>
    </application>
</manifest>